{% extends 'base.html.twig' %}
{% block body %}

<!-- NavBar de Droite -->

<body class="bg-white" data-spy="scroll" data-target="#ftco-navbar-spy" data-offset="0">
    <div class="site-wrap">
        <nav class="site-menu" id="ftco-navbar-spy">
            <div class="site-menu-inner" id="ftco-navbar">
                <ul class="list-unstyled">
                    <li><a href="#section-home">Accueil</a></li>
                    <li><a href="#sectionStart">A Propos</a></li>
                    <li><a href="#nosrea">Nos Réalisations</a></li>
                    <li><a href="#artisan">Nos engagements</a></li>
                    <li><a href="#artisan">L'atelier</a></li>
                    <li><a href="#section-reservation">Avis Clients</a></li>
                    <li><a href="#section-contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- Header -->

    <header class="site-header">
        <div class="row align-items-center">
            <div class="col-5 col-md-3"></div>
            <div class="col-2 col-md-6 text-center site-logo-wrap">
                <a href="/">
                    <img href="/" src="{{ asset('uploads/images/homePage/logo.svg') }}">
                </a>
            </div>
            <div class="col-5 col-md-3 text-right menu-burger-wrap">
                <a href="#" class="site-nav-toggle js-site-nav-toggle"><i></i></a>
            </div>
        </div>
    </header>

    <!-- Carrousel -->

    <div class="main-wrap " id="section-home">
        <div class="cover_1 overlay bg-light">
            <div class="img_bg" data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="row align-items-center justify-content-center text-center">
                        <div class="col-md-10" data-aos="zoom-in">
                            <h1 class="heading mb-5">Bienvenue dans l'Atelier Soboa</h1>
                            <p><a href="#section-about" class="smoothscroll btn btn-outline-white px-5 py-3">En Savoir plus</a></p>
                        </div>
                    </div>
                </div>
                <a class="container-arrow smoothscroll" href="#sectionStart">
                    <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                </a>
            </div>
            <div id="sectionStart"></div>
        </div>
    </div>

        <!-- L'artisan -->

        <div class="section bg-white" data-aos="fade-up">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-7 section-heading text-center">
                        <h1 class="text-center titreArtisan ">L'Artisan</h1><br><hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3 text-center">
                        <img class ="shadow" src="{{ asset('uploads/images/homePage/nico.png') }}">
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-7">
                        <div class="ftco-38-body paragraphe">
                            <div class=" text-center">
                                <h1 class ="citation"><br>Concepteur, fabricant de mobilier design, passionné d'art manuel</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8 text-justify">
                                <p class="paragraphe-atelier">
                                    <br><br>
                                    Les mains de <span style="color: #009090" >Nicolas</span> transforment la matière en mobiliers sur mesure,
                                    en objets ou encore en pièces d’art selon vos demandes.
                                </p>
                                <p class="paragraphe-atelier">
                                    Equipé des <span style="color: #009090" >machines indispensables</span> à tout ébéniste, il me permet de réaliser <span style="color: #009090" >un travail précis </span>et des <span style="color: #009090" >finitions conformes</span> à vos attentes.
                                    Cet équipement est complété par le matériel électroportatif nécessaire pour des réalisations plus délicates.
                                </p>
                                <pgit class="paragraphe-atelier">
                                    Notre production se <span style="color: #009090" >fait à la commande.</span>
                                    Pas de travail<span style="color: #009090" > en série ni de lignes définies</span> c’est le meuble qui s’adapte à vous et non le contraire. Bien loin des dictats des industriels.
                                    Nous sélectionnons <span style="color: #009090" >nos matières premières</span> et travaillons selon <span style="color: #009090" >les règles traditionnelles</span> de l’ébénisterie.
                                </pgit>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">
                    <div class="col-md-5 text-center texte-artisan">
                        <h1 class="ftco-38-heading nom-artisan">Nicolas Poulard</h1>
                        <p class="ftco-38-subheading">Artisan Menuisier</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- Section 'A propos' -->

        <div id="section-about" data-aos="fade-up">
            <div class="container-fluid a_propos">
                <div class="container container_a_propos">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-5"><h1 class="a_propos_titre">L'atelier Soboa c'est aussi...</h1></div>
                    </div>
                    <div class="row row_a_propos">
                        <div class="col-md-6"></div>
                        <div class="col-md-5 text-center box_a_propos" data-aos="fade-left">
                            <h1>La Diversité</h1>
                            <h5>Nos réalisations sont diverses dans l’agencement d’espaces intérieurs et extérieurs grâce à une grande maîtrise des techniques de fabrications.</h5>
                        </div>
                    </div>
                    <div class="row row_a_propos">
                        <div class="col-md-1"></div>
                        <div class="col-md-5 text-center box_a_propos" data-aos="fade-right">
                            <h1>La Passion des arts et la curiosité</h1>
                            <h5>Les fibres de l’atelier sont celles de la précision et de la qualité  de nos créations dans une approche directe avec le bois.</h5>
                        </div>
                    </div>
                    <div class="row row_a_propos">
                        <div class="col-md-6"></div>
                        <div class="col-md-5 text-center box_a_propos" data-aos="fade-left">
                            <h1>La Passion des arts et la curiosité</h1>
                            <h5>Les fibres de l’atelier sont celles de la précision et de la qualité  de nos créations dans une approche directe avec le bois.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section bg-white"  data-aos="fade-up" id="nosrea">
            <div class="row justify-content-center ">
                <h1 class="text-center texte-realisations text-style-canard">Nos Réalisations</h1>
                <div class="col-md-12 col-lg-12 section-heading mid-div">
                    <h5 style="font-family: 'Reem Kufi', sans-serif; color: grey;" class="heading mb-5 text-center mid-txt">Toutes nos créations sont pensées, sont conçues pour devenir des pièces uniques, correspondantes aux demandes de chacun.</h5>
                </div>
            </div>
        </div>

        <!-- Carroussel of Cards -->
        <div class="container bg-white">
            <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
                <!--Controls-->
                <div class="controls-top">
                    <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                    <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                </div>
                <!--/.Controls-->
                <!--Indicators-->
                <ol class="carousel-indicators">
                    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                    <li data-target="#multi-item-example" data-slide-to="1"></li>
                </ol>
                <!--/.Indicators-->

                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    <!--First slide-->
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="card-deck">
                                <div class="card">
                                    <img class="card-img-top" src="{{ asset('uploads/images/homePage/bureau1.jpg') }}" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">Card title</h5>
                                        <p class="card-text text-justify">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    </div>
                                </div>
                                <div class="card">
                                    <img class="card-img-top" src="{{ asset('uploads/images/homePage/bureau2.jpg') }}" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">Card title</h5>
                                        <p class="card-text text-justify">This card has supporting text below as a natural lead-in to additional content.</p>
                                    </div>
                                </div>
                                <div class="card">
                                    <img class="card-img-top" src="{{ asset('uploads/images/homePage/terasse1.jpg') }}" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">Card title</h5>
                                        <p class="card-text text-justify">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="card-deck">
                                <div class="card">
                                    <img class="card-img-top" src="{{ asset('uploads/images/homePage/bureau1.jpg') }}" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">Card title</h5>
                                        <p class="card-text text-justify">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    </div>
                                </div>
                                <div class="card">
                                    <img class="card-img-top" src="{{ asset('uploads/images/homePage/bureau2.jpg') }}" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">Card title</h5>
                                        <p class="card-text text-justify">This card has supporting text below as a natural lead-in to additional content.</p>
                                    </div>
                                </div>
                                <div class="card">
                                    <img class="card-img-top" src="{{ asset('uploads/images/homePage/terasse1.jpg') }}" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">Card title</h5>
                                        <p class="card-text text-justify">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- .section -->

        <div class="section bg-white services-section" data-aos="fade-up">
            <div class="container-fluid blue">
                <div class="row section-heading justify-content-center mb-5">
                    <div class="col-md-8 text-center">
                        <h1 class="text-center toptxt5" style="font-family: 'Reem Kufi', sans-serif; font-size: 5.2rem; color: white;">Nos Engagements</h1>
                    </div>
                </div>
                <div class="row txt7">
                    <div class="col-md-1"></div>
                    <div class="col-md-4 " data-aos="fade-up">
                        <div class="media feature-icon d-block text-center">
                            <div class="icon">
                                <img src="{{ asset('uploads/images/homePage/forest.png') }}" style="width: 90%;">
                            </div>
                            <div class="media-body">
                                <h2 style="color: white;">Bois FCS</h2>
                                <p style="color: white;">Les bois utilisés sont sélectionnés avec attention avant d’être travaillés et posés dans vos habitats où ils répondront à de nouveaux services durables.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="media feature-icon d-block text-center">
                            <div class="icon">
                                <img src="{{ asset('uploads/images/homePage/france.png') }}" style="width: 90%;">
                            </div>
                            <div class="media-body">
                                <h2 style="color: white;">Fabrication Française</h2>
                                <p style="color: white;">L’atelier Soboa cultive une certaine proximité entre les mains de l’artisan et le matériau.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row engBot">
                        <div class="col-md-1"></div>
                        <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
                            <div class="media feature-icon d-block text-center">
                                <div class="icon">
                                    <img src="{{ asset('uploads/images/homePage/interaction.png') }}" style="width: 90%;">
                                </div>
                                <div class="media-body">
                                    <h2 style="color: white;">Proximité avec nos clients</h2>
                                    <p style="color: white;">Soboa est un atelier de réalisations et de conceptions où le dessin et la projection de vos projets sont pensés en amont de nos créations.
                                        Notre expérience nous permet de lier la fonctionnalité à la créative dans notre approche moderne du bois.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
                            <div class="media feature-icon d-block text-center">
                                <div class="icon">
                                    <img src="{{ asset('uploads/images/homePage/clock.png') }}" style="width: 90%;">
                                </div>
                                <div class="media-body">
                                    <h2 style="font-family: 'Reem Kufi', sans-serif; color: white;">Réactivité dans nos délais</h2>
                                    <p style="color: white;">Soboa est un atelier de réalisations et de conceptions où le dessin et la projection de vos projets sont pensés en amont de nos créations.
                                        Notre expérience nous permet de lier la fonctionnalité à la créative dans notre approche moderne du bois.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .section -->
        <div class="section"  data-aos="fade-up">
            <div class="container">
                <div class="row section-heading justify-content-center mb-5">
                    <div class="col-md-8 text-center">
                        <h1 class="text-center text-style-canard" >Avis Clients</h1>
                    </div>
                </div>
                <div class="row justify-content-center text-center" data-aos="fade-up">
                    <div class="col-md-8">
                        <div class="owl-carousel home-slider-loop-false">
                            <div class="item">
                                <blockquote class="testimonial">
                                    <p>&ldquo;A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.&rdquo;</p>
                                    <div class="author">
                                        <img src="images/person_1.jpg" alt="Image placeholder" class="mb-3">
                                        <h4>Maxim Smith</h4>
                                        <p>CEO, Founder</p>
                                    </div>
                                </blockquote>
                            </div>
                            <div class="item">
                                <blockquote class="testimonial">
                                    <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                                    <div class="author">
                                        <img src="images/person_2.jpg" alt="Image placeholder" class="mb-3">
                                        <h4>Geert Green</h4>
                                        <p>CEO, Founder</p>
                                    </div>
                                </blockquote>
                            </div>
                            <div class="item">
                                <blockquote class="testimonial">
                                    <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
                                    <div class="author">
                                        <img src="images/person_3.jpg" alt="Image placeholder" class="mb-3">
                                        <h4>Dennis Roman</h4>
                                        <p>CEO, Founder</p>
                                    </div>
                                </blockquote>
                            </div>
                            <div class="item">
                                <blockquote class="testimonial">
                                    <p>&ldquo;The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.&rdquo;</p>
                                    <div class="author">
                                        <img src="images/person_2.jpg" alt="Image placeholder" class="mb-3">
                                        <h4>Geert Green</h4>
                                        <p>CEO, Founder</p>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .section -->

        <div class="section bg-light " data-aos="fade-up" id="section-contact">
            <div class="container-fluid">
                <div class="row section-heading justify-content-center mb-5">
                    <div class="col-md-8 text-center">
                        <h1 class="text-center toptxt6 text-style-canard" >Contact</h1>
                    </div>
                </div>
                <div class="row justify-content-center footerspace1">
                    <div class="col-md-8 p-5 form-wrap">
                        <form action="#">
                            <div class="row mb-4">
                                <div class="form-group col-md-4">
                                    <label for="name" class="label">Nom</label>
                                    <div class="form-field-icon-wrap">
                                        <span class="icon ion-android-person"></span>
                                        <input type="text" class="form-control" id="name">
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="email" class="label">Adresse Email</label>
                                    <div class="form-field-icon-wrap">
                                        <span class="icon ion-email"></span>
                                        <input type="email" class="form-control" id="email">
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="phone" class="label">Télephone</label>
                                    <div class="form-field-icon-wrap">
                                        <span class="icon ion-android-call"></span>
                                        <input type="text" class="form-control" id="phone">
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label for="message" class="label">Message</label>
                                    <textarea name="message" id="message" cols="30" rows="10" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-4">
                                    <input type="submit" class="btn btn-primary btn-outline-primary btn-block" value="Envoyer">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> <!-- .section -->
        <div class =" align-items-center footerspace2">
                <div class="map-wrap" id="map"  data-aos="fade"></div>
        </div>
 </div>
</body>
<script>
    // Initialize and add the map
    function initMap() {
        var Soboa = {lat: 45.076929, lng: 3.904094};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: Soboa,
            draggable: false,
            mapTypeControl: false,
            gestureHandling: 'greedy',
            styles:[
                {
                    "featureType": "administrative.country",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "visibility": "simplified"
                        },
                        {
                            "hue": "#ff0000"
                        }
                    ]
                }
            ]
        });
        const infowindow = new google.maps.InfoWindow({
            content: content
        });
        var marker = new google.maps.Marker({
            position: Soboa,
            map: map
        });
        marker.addListener("click", () => {
            infowindow.open(map, marker);
        });
        infowindow.open(map,marker);

    }
</script>
<!--Load the API from the specified URL
* The async attribute allows the browser to render the page while the API loads
* The key parameter will contain your own API key (which is not needed for this tutorial)
* The callback parameter executes the initMap() function
-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPlO70BAEnmQmtDFrxS41A5gA6tJPkXMM&callback=initMap" type="text/javascript"></script>
{% endblock %}